body {
    border: 2px solid;
	border-color: black;
	border-radius: 5px;
	padding-top: 35px;
	padding-bottom: 0px;
	position: relative;
	width: 98%;
	margin-left: 2px;
	margin-top: 1px;
	margin-bottom: 0px;
	font: 13px sans-serif;
}

h2 { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   halign:center;
   padding: 12px; 
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.x.axis line {
  shape-rendering: auto;
}

.imgRVLogo {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1px;
    margin-right: auto;
    margin-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    align: left;
}

svg {
  vertical-align: middle;
  background: rgba(255,255,255, 0.2);
  //box-shadow: 0 0 1px 1px;
  border: 1px solid darkgrey;
  margin-left: 1px;
  margin-bottom: 5px;
}

.header rect
{
  fill: #77e6ba;
}

.header text{
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

.cell rect{
  fill: azure;
}

.cell text{
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.imgRENCILogo 
{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1px;
    margin-right: 3px;
    margin-left: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    align: right;
}

.priorResultLink
{
	margin-left: 10px;
	white-space: nowrap; 
}

.card-header 
{
  	padding: 3px 10px !important;
    background: -webkit-linear-gradient(to right, azure, #77e6ba);
    background: linear-gradient(to right, azure, #77e6ba);
}

.card-body 
{
    border-color: black;
    margin: 5px 5px -3px 5px;
	padding: 0rem !important;
}

.card
{
	margin-bottom: 5px;
    border-color: darkgrey;
}

.nav
{
    border-color: darkgrey !important;
}

.nav-link.active
{
    border-color: darkgrey darkgrey #fff !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
 	padding: 13px 15px !important;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover
{
  	padding: 3px 15px !important;
}

.btn
{
	font-size: 11px;
    padding: 2px;
}

#pagehdr {  
	width: 98%;
  	border: 1px solid black;
    border-radius: 5px;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
  	text-align: center; 
  	font-size: 18pt;
    background: -webkit-linear-gradient(to right, azure, #77e6ba);
    background: linear-gradient(to right, azure, #77e6ba);
}

#monitorTab, #configTab, calibTab, diagTab
{
	margin-top: -5px;
	margin-left: 5px;
}

img :hover
{
	transform: scale(5,5);
	-webkit-transform: scale(5,5); /* Safari and Chrome */
}

.collapse.show {
  visibility: visible;
}

.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.error
{
	color: red;
	margin-left: 25px;
}

.pass
{
	color: darkgreen;
	margin-left: 25px;
}