{% extends 'base.html' %}
{% load static %}
	{% block title %}Ventilator Dashboard{% endblock %}
	{% block content %}
		<script type="text/javascript">
			// page is rendered, load up the details from the DB
            $(document).ready(function()
			{
                /**
                 * The monitor instance renderer
                 *  id - The id of the region to render onto
                 *  title - the title shown above the graph. also used for data request type
                 *  y_min - the lower bound of the y_axis
                 *  y_max - the upper bound of the y axis
                 *  duration - the data gathering rate in milliseconds
                 */
                const instance = (id, title, y_min, y_max, duration, lines) => {
                    // init local variables
                    let n = 120,
                        now = new Date(Date.now() - duration),
                        data = d3.range(n).map(function () { return 0; }),
                        data2 = d3.range(n).map(function () { return 0; }),
                        line2 = null;

                    // init the graph rendering area.
                    // height/width specify graph size limits in the box
                    // left margin controls the left/right placement
                    // overall size of the view box is in html
                    // note: the raspberry pi 7" screen is 785 x 549 in the browser
                    let svg = d3.select(id),
                        margin = {top: 0, right: 0, bottom: 0, left: 25},
                        width = 340,
                        height = 160,
                        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                    // define the x axis
                    let x = d3.scaleTime()
                        .domain([now - (n - 2) * duration, now - duration])
                        .range([0, width]);

                    // define the y axis
                    let y = d3.scaleLinear()
                        .domain([y_min, y_max])
                        .range([height, 20]);

                    // define the line properties, the curve basis smooths out the line
                    let line = d3.line()
                        .x(function (d, i) {
                            return x(now - (n - 1 - i) * duration);
                        })
                        .y(function (d) {
                            return y(d);
                        }).curve(d3.curveBasis);

                    // assign a clip path for the left scrolling time animation area
                    g.append("defs").append("clipPath")
                        .attr("id", "clip")
                        .append("rect")
                        .attr("width", width)
                        .attr("height", height+100);

                    // create areas for the second data line
                    if(lines === 2)
                    {
                        // define the line properties, the curve basis smooths out the line
                        line2 = d3.line()
                            .x(function (d, i) {
                                return x(now - (n - 1 - i) * duration);
                            })
                            .y(function (d) {
                                return y(d);
                            }).curve(d3.curveBasis);

                        // assign a clip path for the left scrolling time animation area
                        g.append("defs").append("clipPath")
                            .attr("id", "clip2")
                            .append("rect")
                            .attr("width", width)
                            .attr("height", height + 100);
                    }

                    // display the graph title
                    g.append("text")
                        .attr("transform", "translate(" + (width/3) + ", 17)")
                        .attr("fill", "darkblue")
                        .text(title);

                    // define the x axis
                    let axis = g.append("g")
                        .attr("class", "axis axis--x")
                        .attr("transform", "translate(0," + height + ")")
                        .call(x.axis = d3.axisBottom(x));

                    // render the y axis
                    g.append("g")
                        .attr("class", "axis axis--y")
                        .call(d3.axisLeft(y));

                    // render the animation area
                    g.append("g")
                            .attr("clip-path", "url(#clip)")
                        .append("path")
                            .datum(data)
                            .attr("class", "line")
                        .transition()
                            .duration(500) // duration
                            .ease(d3.easeLinear)
                            .on("start", tick);

                    // render the animation area
                    g.append("g")
                            .attr("clip-path", "url(#clip2)")
                        .append("path")
                            .datum(data2)
                            .attr("class", "line2")
                        .transition()
                            .duration(500) // duration
                            .ease(d3.easeLinear)
                            .on("start", tick);

                    // define the temporal transition of the x axis and data
                    let transition = d3.select({}).transition()
                        .duration(duration)
                        .ease(d3.easeLinear);

                    // function to perform the temporal updates
                    function tick() {
                        transition = transition.each(function ()
                        {
                            // check to see if we are paused
                            if(monitorPause === 0)
                            {
                                // update the -axis time domain
                                now = new Date();
                                x.domain([now - (n) * duration, now - duration]);

                                // get the data for this instance type
                                d3.json('http://localhost:8000/dataReq?type=event&param=' + lines, function (error, eventData)
                                {
                                    // did we get an error
                                    if (error == null)
                                    {
                                        // declare the threshold and data value
                                        let threshold_range, threshold_range2, data_val, data_val2;

                                        // get the data value
                                        data_val = eventData;

                                        // get the threshold for the target view
                                        if (lines === 2)
                                        {
                                            // get the threshold value
                                            threshold_range = $('#pCircRange').val();

                                            // get the threshold value
                                            threshold_range2 = $('#pxRange').val();

                                            // data for more than one line comes in as an array
                                            data_val2 = data_val[1];
                                            data_val = data_val[0];
                                        }
                                        else
                                            // get the threshold value
                                            threshold_range = $('#respirationRange').val();

                                        // init the default line color
                                        let line_color = "#009933";

                                        // split the threshold range string
                                        let thresholds = threshold_range.split(',');

                                        // data line color change based on a threshold
                                        if (data_val < Number(thresholds[0]) || data_val > Number(thresholds[1]))
                                            line_color = "darkred";

                                        // push the value onto the data stack
                                        data.push(data_val);

                                        // redraw the default line
                                        svg.select(".line")
                                            .attr("d", line)
                                            .attr("stroke", line_color)
                                            .attr("transform", null);

                                        // are we drawing the second line
                                        if(lines === 2)
                                        {
                                            // init the default line color
                                            let line_color = "#0000ff";

                                            // split the threshold range string
                                            let thresholds = threshold_range2.split(',');

                                            // data line color change based on a threshold
                                            if (data_val2 < Number(thresholds[0]) || data_val2 > Number(thresholds[1]))
                                                line_color = "darkred";

                                            // save the data value
                                            data2.push(data_val2);

                                            // redraw the 2nd line
                                            svg.select(".line2")
                                                .attr("d", line2)
                                                .attr("stroke", line_color)
                                                .attr("transform", null);

                                            // make room for the next value
                                            data2.shift();
                                        }

                                        // slide the x-axis to the left
                                        axis.call(x.axis);

                                        // remove the oldest data point that has scrolled off
                                        data.shift();
                                    }
                                })
                            }
                        }).transition().on("start", tick);
                    }
                };

                // load up the config and calibration settings
                load_settings();

                 // create the monitor instances for each type
                instance("#pressureInstance", "Pressures (P-circ, p?)", -5, 50, 250, 2);
                instance("#respirationInstance", "Respirations (per min)", 0, 20, 1000, 1);
			});
		</script>

		<div id="cardBody" class="card-body">
			<ul class="nav nav-tabs" id="navTabs" role="tablist" style="margin-left:2px; margin-bottom: 2px">
				<li class="nav-item">
					<a class="nav-link active" id="monitor-Tab" data-toggle="tab" href="#monitorTab" role="tab">Monitor</a>
				</li>

				<li class="nav-item">
                    <a class="nav-link" id="configuration-tab" data-toggle="tab" href="#configurationTab" role="tab">Configuration</a>
				</li>

				<li class="nav-item">
                    <a class="nav-link" id="calibration-tab" data-toggle="tab" href="#calibrationTab" role="tab">Calibration</a>
				</li>

				<li class="nav-item">
                    <a class="nav-link" id="diagnostics-tab" data-toggle="tab" href="#diagnosticsTab" role="tab">Diagnostics</a>
				</li>
            </ul>

            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="border: 1px">
                        <div class="card-body" style="border: 1px black;">
                            <div id="tabContent" class="tab-content">
                                <div id="monitorTab" class="tab-pane fade show active" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card" style="margin-left: -8px; margin-top: 4px">
                                                <div class="card-header">
                                                    <span>Monitor</span>
                                                    <button id="pause" type="button" style="margin-left: 10px" value="pause" class="btn btn-success btn-xs" onclick="togglePause();">Pause</button>
                                                </div>
                                                <div id="monitorTarget" style="margin-left: 1px; margin-top: 2px; margin-right: 1px">
                                                    <svg id="pressureInstance" width="370" height="185"></svg>
                                                    <svg style="margin-left: -3px" id="respirationInstance" width="370" height="185"></svg>
                                                </div>
											</div>
										</div>
									</div>
								</div>

								<div id="configurationTab" class="tab-pane fade show" role="tabpanel">
									<div class="row">
										<div class="col-md-10">
											<div class="card">
												<div class="card-header">
													<span>Configuration</span>&nbsp;&nbsp;
												</div>
                                                <div style="margin-left: 10px; margin-right: 10px" class="d-flex justify-content-left my-2">
                                                    <div>
                                                        <label for="pCircRange" style="margin-right: 10px">P-circ range</label>
                                                        <input id="pCircRange" type="text"/>
                                                        <span id="pCircRangeVals"></span>
                                                    </div>
                                                    <div>
                                                        <label for="respirationRange" style="margin-left: 20px; margin-right: 10px">Respiration range</label>
                                                        <input id="respirationRange" type="text"/>
                                                        <span id="respirationRangeVals"></span>
                                                    </div>
                                                </div>
                                                <div style="margin-left:10px">
                                                    <div>
                                                        <label for="pxRange" style="margin-right: 10px">Px range</label>
                                                        <input id="pxRange" type="text"/>
                                                        <span id="pxRangeVals"></span>
                                                    </div>
                                                </div>
                                                <div style="margin-left:10px; margin-top:10px">
                                                    <label><input type="checkbox" id="demomode"/> Demo mode (requires save and page refresh)</label>
                                                </div>
                                                <div style="margin-left:5px; margin-bottom:5px; margin-top:5px">
                                                    <button id="saveConfiguration" type="button" class="btn btn-info btn-xs" onclick="saveSetting('config');">Save</button>
                                                    <div id="saveConfigMsg" style="margin-left: 5px; margin-top: 15px; margin-bottom: 5px; display: none;"></div>
                                                </div>
											</div>
										</div>
									</div>
								</div>

								<div id="calibrationTab" class="tab-pane fade show" role="tabpanel">
									<div class="row">
										<div class="col-md-8">
											<div class="card">
												<div class="card-header">
													<span>Calibration</span>&nbsp;&nbsp;
												</div>
                                                <div style="margin-left: 10px; margin-right: 10px" class="d-flex justify-content-left my-2">
                                                    <div>
                                                        <label for="sensor0Range">Sensor 0:</label>
                                                        <span class="font-weight-bold text-primary ml-2 sensor0ValueSpan"></span>
                                                        <input type="range" class="custom-range" id="sensor0Range" min="13.00" max="15.00" step="0.01" />
                                                    </div>
                                                </div>
                                                <div style="margin-left:5px; margin-bottom:5px">
                                                    <input id="saveCalibration" class="btn btn-info" type="button" value="Save" onclick="saveSetting('calib');"/>
                                                    <div id="saveCalibMsg" style="margin-left: 5px; margin-top: 15px; margin-bottom: 5px; display: none;"></div>
                                                </div>
											</div>
										</div>
									</div>
								</div>

								<div id="diagnosticsTab" class="tab-pane fade show" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-header">
													<span>Diagnostics</span>&nbsp;&nbsp;
												</div>
                                                <div style="margin-left: 5px; margin-top: 5px; margin-bottom: 5px">
                                                    <div style="text-align: left; margin-top: 5px">
                                                        <label for="diagnosticResults">Diagnostic results</label>
                                                    </div>
                                                    <div>
                                                        <textarea style="margin-top: 5px; margin-bottom: 5px" id="diagnosticResults" cols="95%" rows="5" disabled>Press Launch to start...</textarea>
                                                    </div>
                                                    <div>
                                                        <input id="sendDiagRequest" class="btn btn-info" type="button" value="Launch" onclick="sendDiagRequest();"/>
                                                    </div>
                                                </div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	{% endblock %}

