{% extends 'base.html' %}
{% load static %}
	{% block title %}Ventilator Dashboard{% endblock %}
	{% block content %}
		<script type="text/javascript">
			// page is rendered, load up the details from the DB
			$(document).ready(function()
			{
			    instance("#instance1");
			    instance("#instance2");
			})

            function instance(id) {
                var n = 120,
                    random = d3.randomUniform(0, 20),
                    duration = 750,
                    now = new Date(Date.now() - duration),
                    data = d3.range(n).map(function () {
                        return 0;
                    });

                var svg = d3.select(id),
                    margin = {top: 0, right: 0, bottom: 0, left: 25},
                    width = 385,
                    height = 150,
                    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                var x = d3.scaleTime()
                    .domain([now - (n - 2) * duration, now - duration])
                    .range([0, width]);

                var y = d3.scaleLinear()
                    .domain([0, 20])
                    .range([height, 20]);

                var line = d3.line()
                    .x(function (d, i) {
                        return x(now - (n - 1 - i) * duration);
                    })
                    .y(function (d, i) {
                        return y(d);
                    }).curve(d3.curveBasis);

                g.append("defs").append("clipPath")
                    .attr("id", "clip")
                    .append("rect")
                    .attr("width", width)
                    .attr("height", height);

                var axis = g.append("g")
                    .attr("class", "axis axis--x")
                    .attr("transform", "translate(0," + height + ")")
                    .call(x.axis = d3.axisBottom(x));

                g.append("g")
                    .attr("class", "axis axis--y")
                    .call(d3.axisLeft(y));

                var path = g.append("g")
                    .attr("clip-path", "url(#clip)")
                    .append("path")
                    .datum(data)
                    .attr("class", "line")
                    .transition()
                    .duration(10)
                    .ease(d3.easeLinear)
                    .on("start", tick);

                var transition = d3.select({}).transition()
                    .duration(1000)
                    .ease(d3.easeLinear);

                function tick() {
                    transition = transition.each(function () {
                        // update the domains
                        now = new Date();
                        x.domain([now - (n - 2) * duration, now - duration]);

                        var rnd = Math.round(random());

                        //console.log("x:" + (now - (n - 2) * duration) + ", y:" + rnd);

                        // push the value onto the data
                        data.push(rnd);

                        // redraw the line
                        svg.select(".line")
                            .attr("d", line)
                            .attr("transform", null);

                        // slide the x-axis left
                        axis.call(x.axis);

                        // Pop the old data point off the front.
                        data.shift();
                    }).transition().on("start", tick);
                }
            }
		</script>

		<div id="cardBody" class="card-body">
			<ul class="nav nav-tabs" id="navTabs" role="tablist" style="margin-left:10px; margin-bottom: 7px">
				<li class="nav-item">
					<a data-balloon="This area is for monitoring the ventilator" data-balloon-pos="right" class="nav-link active" id="monitor-Tab" data-toggle="tab" href="#monitorTab" role="tab">Monitor</a>
				</li>

				<li class="nav-item">
                    <a data-balloon="This area is for viewing configuration items" data-balloon-pos="up" class="nav-link" id="configuration-tab" data-toggle="tab" href="#configTab" role="tab">Configuration</a>
				</li>
            </ul>

			<div class="row">
				<div class="col-md-12">
					<div class="card" style="border: 1px;">

						<div class="card-body">

                            <div id="tabContent" class="tab-content">
								<div id="monitorTab" class="tab-pane fade show active" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-header">
													<span data-balloon="Monitor tab." data-balloon-pos="right">Monitor</span>&nbsp;&nbsp;
												</div>

												<div id="monitorTarget" style="margin-top: 5px; margin-left: 5px">
                                                    <svg id="instance1" width="415" height="175"></svg>
                                                    <svg id="instance2" width="415" height="175"></svg>
                                                </div>
											</div>
										</div>
									</div>
								</div>

								<div id="configTab" class="tab-pane fade show" role="tabpanel">
									<div class="row">
										<div class="col-md-12">
											<div class="card">
												<div class="card-header">
													<span data-balloon="Configuration tab." data-balloon-pos="right">Configuration</span>&nbsp;&nbsp;
												</div>

                                                <div class="d-flex justify-content-center my-4">
                                                  <div class="w-75">
                                                    <label for="customRange1">Setting 1</label>
                                                    <input type="range" class="custom-range" id="customRange1" min="0" max="100">
                                                  </div>
                                                  <span class="font-weight-bold text-primary ml-2 valueSpan1"></span>
                                                </div>

                                                <div class="d-flex justify-content-center my-4">
                                                  <div class="w-75">
                                                    <label for="customRange2">Setting 2</label>
                                                    <input type="range" class="custom-range" id="customRange2" min="0" max="100">
                                                  </div>
                                                  <span class="font-weight-bold text-primary ml-2 valueSpan2"></span>
                                                </div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	{% endblock %}

